@font-face {
  font-family: "iconfont";
  /* Project id 3435820 */
  src: url('../fonts/iconfont.ttf') format('truetype'),
    url('../fonts/iconfont.woff') format('woff'),
    url('../fonts/iconfont.woff2') format('woff2');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-tianjia:before {
  content: "\e622";
}

.icon-gonggao:before {
  content: "\e62a";
}

.icon-yuanxingweixuanzhong:before {
  content: "\e72f";
}

.icon-yuanxingxuanzhongfill:before {
  content: "\e730";
}

.icon-qiapianxingshi:before {
  content: "\e73f";
}

.icon-liebiaoxingshi:before {
  content: "\e742";
}

.icon-weixinzhifu:before {
  content: "\e607";
}

.icon-zhifubao:before {
  content: "\e60a";
}

.icon-yue:before {
  content: "\e60c";
}

.icon-arrow-right:before {
  content: "\e74b";
}

.icon-viewgallery:before {
  content: "\e76d";
}

.icon-viewlist:before {
  content: "\e76e";
}

.icon-prompt:before {
  content: "\e75e";
}

.icon-switch:before {
  content: "\e768";
}

.icon-atm:before {
  content: "\e749";
}

.icon-cart-full:before {
  content: "\e74a";
}

.icon-email:before {
  content: "\e74f";
}

.icon-help:before {
  content: "\e752";
}

.icon-gift:before {
  content: "\e754";
}

.icon-map:before {
  content: "\e758";
}

.icon-set:before {
  content: "\e76c";
}

.icon-vip:before {
  content: "\e773";
}

.icon-arrow-down:before {
  content: "\e7b5";
}

.icon-history:before {
  content: "\e6f8";
}

.icon-Notvisible:before {
  content: "\e6fe";
}

.icon-browse:before {
  content: "\e746";
}

.icon-hot:before {
  content: "\e753";
}

.icon-ashbin:before {
  content: "\e745";
}

.icon-close:before {
  content: "\e748";
}

.icon-arrow-up:before {
  content: "\e744";
}

.icon-collection:before {
  content: "\e79d";
}

.icon-arrow-left:before {
  content: "\e743";
}

.icon-search:before {
  content: "\e7b4";
}

.icon-service:before {
  content: "\e764";
}

.icon-category:before {
  content: "\e747";
}

.icon-home:before {
  content: "\e7a7";
}

.icon-account:before {
  content: "\e7b2";
}

.icon-cart-Empty:before {
  content: "\e7b3";
}

