@import './reset.css';
@import './iconfont.css';

$primary: #e02e24;
$activePrimary: #c51e14;
$textColor: #ffffff;
$activeTextColor: #edbbb8;
$grey: #9c9c9c;

.common-btn {
  width: 90%;
  background: $primary;
  border-radius: 4px;
  color: $textColor;
  border: 0;
  height: 42px;
  font-size: 16px;
  font-family: 'Microsoft YaHei';

  &:active {
    color: $activeTextColor;
    background: $activePrimary;
  }
}

.border-1px {
  position: relative;

  &:after {
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    border-bottom: 1px solid #eeeeee;
    content: '';
  }
}
